#topics-wrapper
  .topics-admin
    .school-settings
      .heading
        h2= 'Escuelas'
      form.form(action=form.action, method='post', role='form', autovalidate, autosubmit)
        ul.form-messages
        .template
          .panelExpandible.hidden
            h3.titleShow= ''
              span.glyphicon.glyphicon-menu-down.pull-right
            .showHiden
              .contentHiden
                .form-group.templateGroup
                  label= 'asdasd'
                  input.form-control(
                    type='text',
                    data-name='',
                    maxlength=200,
                    validate='required'
                  )
        .panels     
              
        .form-group: button.btn.btn-success.btn-block.btn-lg= t('settings.save')
